*{
  font-family: "Nunito Sans", sans-serif;
}
p, .btn{
  font-size: medium;
}

main{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  background-color: chocolate;
}

header{
  grid-column: 1/4;
  text-align: center;
  background-color: cyan;
}

.canvas-container{
  display: flex;
  justify-content: center;
}
#canvas{
  width: 80%;
  object-fit: contain;
  background-color: black;
  border: 3px solid blue;
}

.game-section, .level-section{
  display: flex;
  flex-direction: column;
  padding: 0 min(40px, 5vw);
  text-align: start;
}

.game-section h2, .level-section h2{
  text-align: center;
}
.game-section{
  background-color: blanchedalmond;
}
#foodTimerContainer{
  display: none;
}
.food-timer-bar-container{
  width: 100%;
  background: #ddd;
  border-radius: 8px;
  overflow: hidden;
  height: 10px;
}
#foodTimerBar{
  width: 100%;
  background: tomato;
  height: 100%;
  transition: width 0.1s linear;
}

.level-section{
  background-color: blueviolet;
}
.level-list{
  padding: 0;
  list-style-type: none;
}

.btn{
  cursor: pointer;
  border: 0.15vw solid black;
  background-color: transparent;
  padding: min(5px, 5vw);
}
.btn:hover{
  background: rgba(0,0,0,0.1);
}

.sub-list{
  padding: 0;
  list-style-type: none;
}

#scoreListContainer span{
  display: none;
}
#scoreListContainer .active{
  display: inline-block;
}